.arrow-r {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #444;
	margin-bottom: 1%;
	margin-right: 7px;
	margin-left: 3px;
	display: inline-block;
}

.arrow-d {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #444;
	margin-bottom: 6px;
	margin-right: 5px;
	display: inline-block;
}

.collapseL1>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: #696969;
    margin: auto;
}

.collapseL1>:nth-child(even) {
	/* Inner content section */
	background-color: white;
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.collapseL1>:nth-child(even) p {
    padding: 0px 5px;
}

.collapseL1>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL1>:first-child {
}

.collapseL1>:nth-last-child(2) {
}

.collapseL2>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: #969696;
    margin: auto;
}

.collapseL2>:nth-child(even) {
	/* Inner content section */
	background-color: white;
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.collapseL2>:nth-child(even) p {
    padding: 0px 5px;
}

.collapseL2>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL2>:first-child {
}

.collapseL2>:nth-last-child(2) {
}
.collapseHeading {
	text-align: center;
	margin-bottom: 10px;
}