@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700|Lusitana:400,700);

body {
	margin: 0;
	font-family: 'Lusitana', Georgia, serif;
}

#map {
	width: 100%;
	height: 100vh;
}

#breadcrumb-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(94, 0, 0, 0.6);
	width: 100%;
}

#breadcrumb-wrapper a {
	color: #fff;
}

#breadcrumb-wrapper a:visited {
	color: #fff;
}

#breadcrumb {
	color: #fff;
	font-size: .75em;
	padding: 0.5em;
}

#sidebar {
	opacity: 0.9;
	top: 2em;
}
.sidebar-tabs {
	background-color: rgba(249, 244, 238, 0.9);
}
.sidebar-content {
	background-color: rgba(249, 244, 238, 0.9);
}

.highlight {
	font-weight: bold;
}

.hidden {
	display: none;
}

#infowindow {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
}

#slide {
	width: 98%;
	margin: 1%;
}

.filterControl {
	float: left;
	margin-top: 0.8em;
}

.idLink {
	float: left;
	padding: .3em;
	color: rgb(215, 71, 71);
}

.idLink:visited {
	color: rgb(215, 71, 71);
}

.counter {
	font-size: 14px;
}

#infoText {
	padding: 0.5em;
}

/* Collapsible menus CSS */
.arrow-r {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #444;
	margin-bottom: 1%;
	margin-right: 7px;
	margin-left: 3px;
	display: inline-block;
	float: left;
}

.arrow-d {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #444;
	margin-bottom: 6px;
	margin-right: 5px;
	display: inline-block;
	float: left;
}

.collapseL1 {
	background-color: rgba(49, 145, 70, 0.25);
	border-radius: 5px;
}

.collapseL1>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: rgba(0,0,0,0);
    margin: auto;
    font-family: 'Cinzel', Georgia, serif;
}

.collapseL1>:nth-child(odd) h1 {
    font-weight: normal;
	font-size: 24px;
	margin-top: .2em;
	margin-bottom: .2em;
}

.collapseL1>:nth-child(odd) h2 {
	font-weight: normal;
	font-size: 22px;
	margin: 0px;
}

.collapseL1>:nth-child(odd) h3 {
    font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

.collapseL1>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL1>:nth-child(even) {
	/* Inner content section */
	background-color: rgba(0,0,0,0);
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.collapseL1>:nth-child(even) p {
    padding: 0px 5px;
}

.collapseL1>:first-child {
	/* First header in list */
}

.collapseL1>:nth-last-child(2) {
	/* Last header in list */
}

/* Second level collapsible menus */
.collapseL2 h3 {
	font-family: 'Cinzel', 'Georgia', serif;
	font-size: 16px;
}

.collapseL2>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: rgba(255,255,255,0.3);
    margin: auto;
    font-weight: normal;
}
.collapseL2>:nth-child(odd):hover {
	/* Header */
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL2>:nth-child(even) {
	/* Inner content section */
	background-color: rgba(255,255,255,0.6);
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.collapseL2>:nth-child(even) ul {
	/* Inner content section ul*/
	margin: 0;
}
.collapseL2>:nth-child(even) p {
	/* Inner content section */
    padding: 0px 5px;
}
.collapseL2>:nth-child(even) a {
	color: #0A5057;
}
.collapseL2>:nth-child(even) a:visited {
	color: #193F42;
}

.collapseL2>:first-child {
}

.collapseL2>:nth-last-child(2) {
}

.collapseHeading {
	text-align: center;
	margin-bottom: 10px;
}

/* Infobox CSS */
#infobox {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
}
#infobox div h3 {
	margin-top: .2em;
	margin-bottom: .2em;
}
#infobox div p {
	margin-top: .2em;
	margin-bottom: .2em;
}
#infobox div p.collectionName {
	text-decoration: underline;
}
#infobox div p.authorName {
}
#infobox div p#resetHighlight {
	cursor: pointer;
	text-decoration: underline;
	font-size: 80%;
}
#hoverInfobox {
	margin: .3em;
	padding:.3em;
	border: solid 2px #53868B;
	border-radius: 5px;
}
#highlightInfobox {
	margin: .3em;
	padding:.3em;
	border: solid 2px #C34E4C;
	border-radius: 5px;
}