/* Page-wide */
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700|Lusitana:400,700);

body {
	margin: 0;
	font-family: 'Lusitana', Georgia, serif;
}

#map {
	width: 100%;
	height: 100vh;
}

/* Custom icons, for map markers */
.atlasIcons {
	font-family: 'Lusitana';
	font-size: 12px !important;
}
.atlasIcons-Wa:before {
	content: "Wa";
}
.atlasIcons-Bl:before {
	content: "Bl";
}
.atlasIcons-Co:before {
	content: "Co";
}
.atlasIcons-Du:before {
	content: "Du";
}
.atlasIcons-dW:before {
	content: "dW";
}
.atlasIcons-Go:before {
	content: "Go";
}
.atlasIcons-Ke:before {
	content: "Ke";
}
.atlasIcons-Re:before {
	content: "Re";
}

/* style to highlight/flash */
.flash_add {
	color: #FFFF00;
	transition: color 200ms;
}
.flash_remove {
	color: #FF0000;
	transition: color 200ms;
}

/* breadcrumbs */
.leaflet-top {
	top: 2em;
}
#breadcrumb-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(94, 0, 0, 0.6);
	width: 100%;
}
#breadcrumb-wrapper a {
	color: #fff;
}
#breadcrumb-wrapper a:visited {
	color: #fff;
}
#breadcrumb {
	color: #fff;
	font-size: .75em;
	padding: 0.5em;
}

/* Sidebar general styling */
#sidebar {
	opacity: 0.9;
	top: 2em;
}
.sidebar-tabs {
	background-color: rgba(100,100,100,0.5);
	width: 100%;
}
.sidebar-tabs i {
	transition: 200ms;
}
.sidebar-tabs > li {
	position: relative;
	display: block;
	width: 40px;
	overflow: hidden;
	float: left;
	background-color: rgba(249, 244, 238, 0.4);
	border-radius: 5px 5px 0 0;
	box-shadow: 5px 5px 5px #6E6E6E;
	transition: all 200ms;
}
.sidebar-tabs > li.active {
	width: 200px;
	background-color: rgba(249, 244, 238, 0.9);
	color: #333;
	border-radius: 5px 5px 0px 0px;
	transition: all 200ms;
}
.sidebar-tabs > li:hover {
	border-radius: 5px 5px 0px 0px;
}
.sidebar-tabs > li i {
	padding: 12px;
}
.sidebar-content {
	background-color: rgba(249, 244, 238, 0.9);
	left: 0px;
	right: 0;
	top: 40px;
	bottom: 0;
}
.sidebar-pane {
	width: 460px;
}
.tabDescription {
	overflow: hidden;
}

.collapsed .sidebar-pane {
	display:none;
}
.collapsed .sidebar-content {
	position: relative;
}
.collapsed .sidebar-tabs li {
	width: 100%;
	box-shadow: none;
}
.collapsed .sidebar-tabs {
	background-color: rgba(249, 244, 238, 0.9);
}

.highlight {
	font-weight: bold;
}

.hidden {
	display: none;
}

#infowindow {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	width: 25%;
}

#slide {
	width: 98%;
	margin: 1%;
}

.filterControl {
	float: left;
	margin-top: 0.8em;
}

#sidebar .chartScope {
	border-bottom: 1px dotted black;
	margin: 0;
	padding-top: .3em;
	padding-bottom: .3em;
}
.viewLabel {
	margin: 0;
	text-align: right;
}
#sidebar .add_to_map {
	float: right;
	margin-right: 2.5em;
}
.idLink {
	padding-left: .3em;
	cursor: pointer;
	font-weight: normal;
	font-size: 18px;
	/*margin-top: .4em;
	margin-bottom: .4em;*/
}
#currentView .idLink {
	width: 85%;
	display: inline-block;
}
#bigList .idLink {
	width: 85%;
	display: inline-block;
}

.idLink i.fa {
	color: #467176;
}

.iconBG {
	background-color: #467176;
	border-radius: 20px;
	color: white;
	padding:.5em .2em .2em .2em;
	width: 1.4em;
	height: 1.1em;
	float: left;
	margin-right: .2em;
	text-align: center;
}

.starredScope {
	margin-top: .2em;
}

.idLink:visited {
	color: rgb(215, 71, 71);
}

.counter {
	font-size: 14px;
}

#infoText {
	padding: 0.5em;
}

/* Collapsible menus CSS */
.arrow {
	float: left;
	padding-top: 0.4em;
	padding-right: 0.2em;
}

.collapseL1 {
	background-color: rgba(178, 132, 49, 0.25);
	border-radius: 5px;
}

.collapseL1>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: rgba(0,0,0,0);
    margin: auto;
    font-family: 'Cinzel', Georgia, serif;
}

.collapseL1>:nth-child(odd) h1 {
    font-weight: normal;
	font-size: 24px;
	margin-top: .2em;
	margin-bottom: .2em;
}

.collapseL1>:nth-child(odd) h2 {
	font-weight: normal;
	font-size: 22px;
	margin: 0px;
}

.collapseL1>:nth-child(odd) h3 {
    font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

.collapseL1>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL1>:nth-child(even) {
	/* Inner content section */
	background-color: rgba(0,0,0,0);
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.collapseL1>:nth-child(even) p {
    padding: 0px 5px;
}

.collapseL1>:first-child {
	/* First header in list */
}

.collapseL1>:nth-last-child(2) {
	/* Last header in list */
}

/* Second level collapsible menus */
.collapseL2 h3 {
	font-family: 'Cinzel', 'Georgia', serif;
	font-size: 16px;
}

.collapseL2>:nth-child(odd) {
	/* Header */
	padding: 5px;
    background-color: rgba(255,255,255,0.3);
    margin: auto;
    font-weight: normal;
}
.collapseL2>:nth-child(odd):hover {
	/* Header */
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.collapseL2>:nth-child(even) {
	/* Inner content section */
	background-color: rgba(255,255,255,0.6);
	display: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.collapseL2>:nth-child(even) ul {
	/* Inner content section ul*/
	margin: 0;
}
.collapseL2>:nth-child(even) p {
	/* Inner content section */
    padding: 0px 5px;
}
.collapseL2>:nth-child(even) a {
	color: #0A5057;
}
.collapseL2>:nth-child(even) a:visited {
	color: #193F42;
}
.collapseL2 li {
	list-style:none;
}

.collapseL2>:first-child {
}

.collapseL2>:nth-last-child(2) {
}

.collapseHeading {
	text-align: center;
	margin-bottom: 10px;
}

/* Infobox (bottom right) */
#infobox {
	position: absolute;
	bottom: 18px;
	right: 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	max-width: 20%;
}
#infobox div h3 {
	margin-top: .2em;
	margin-bottom: .2em;
}
#infobox div p {
	margin-top: .2em;
	margin-bottom: .2em;
}
#infobox div p.collectionName {
	text-decoration: underline;
}
#infobox div p.authorName {
}
#infobox div p#resetHighlight {
	cursor: pointer;
	text-decoration: underline;
	font-size: 80%;
}
#resetHighlight {
	position: absolute;
	top: -12px;
	right: -12px;
	background-color: #C34E4C;
	border-radius: 10px;
	padding: .2em;
	height: 1em;
	width: 1em;
	text-align: center;
	color: white;
	cursor: pointer;
}
#chartCount {
	font-size: 14px;
	text-align: right;
	padding: .3em;
}
#hoverInfobox {
	margin: .3em;
	padding:.3em;
	border: solid 2px #53868B;
	border-radius: 5px;
}
#highlightInfobox {
	position: relative;
	margin: .3em;
	padding:.3em;
	border: solid 2px #C34E4C;
	border-radius: 5px;
}

/* Chart added popup box */
#chartAddedNotification {
	position: absolute;
	top: 34px;
	right: 52px;
	background-color: white;
	border-radius: 5px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: .5em;
	padding-left: .5em;
	opacity: 0;
	z-index: -1000;
	transition: all 400ms;
}
#chartAddedNotification p {
	margin: 0;
}
#chartAddedNotification.active {
	opacity: 90;
	z-index: 1000;
	transition: all 400ms;
}

#reset_tile_layers {
	cursor: pointer;
}