#map {
	width: 100%;
	height: 100vh;
}

body {
	margin: 0;
}

.highlight {
	font-weight: bold;
}

.hidden {
	display: none;
}

#infowindow {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
}

#slide {
	width: 98%;
	margin: 1%;
}

.filterControl {
	float: left;
	margin-top: 0.8em;
}

.counter {
	font-size: 14px;
}

#infoText {
	padding: 0.5em;
}